body {
    background-color: #FFEEDB;
    font-family: 'Playfair Display', serif;
  }
  h1 {
    color: #A777AF;
  }
  p {
    color: #605B56;
  }
  li {
      color: #4C3B4D
  }
  input[type=text] {
    background-color: #605B56;
    color: white;
    border: none;
    text-align: center;
  } 
  .wrapper {
  display:grid;
  grid-template-columns: 30% 30%; 
  align-content: center;
  }
  .wrapper > div {
    background-color: #eee;
  }
  .wrapper > div:nth-child(odd) {
    background: #ddd;
   

  }
