<<<<<<< HEAD
body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }
  li {
      color: black
  }
  input[type=text] {
    background-color: powderblue;
    color: white;
    border: none;
=======
body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }
  li {
      color: black
  }
  input[type=text] {
    background-color: powderblue;
    color: white;
    border: none;
>>>>>>> e66036c627da60ebfc97ef93804e73df2d631e9c
  } 